doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      ul 
        li(class='active') Home
        li About
        li Contact
    main 
      block content

    footer
      p &copy; 2025 Open Source Development. All rights reserved.

  style.
    header {
      background-color: #333;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      padding: 7px 20px;
    }

    ul{
      display: flex;
      list-style-type: none;
      justify-content: end;
      gap: 20px;
    }
